<head>
    <link rel="stylesheet" type="text/css" href="css/style_landing.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link
    rel="stylesheet"
    type="text/css"
    href="css/nivo-lightbox/nivo-lightbox.css"
  />
  <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,700"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900"
    rel="stylesheet"
  />
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="root"></div>
</body>